<div class="row" style="background: url('../assets/images/slide1.png');background-size:100% 100% ;
background-repeat:no-repeat;
height: 400px">
    <div class="tit">
        <h1>Quelques exemples de réalisations</h1>

    </div>
    <owl-carousel-o [options]="customOptions" style="width: 80%;margin-left:10%;margin-right:10%;margin-top:0px">
        <ng-template carouselSlide>

            <img src="assets/slider/1.png" alt="" style="height: 200px;width:200px">

        </ng-template>

        <ng-template carouselSlide>

            <img src="assets/slider/2.png" alt="" style="height: 200px;width:200px">
            <br>

        </ng-template>
        <ng-template carouselSlide>

            <img src="assets/slider/3.png" alt="" style="height: 200px;width:200px"><br>

        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/slider/4.png" alt="" style="height: 200px;width:200px">

        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/slider/5.png" alt="" style="height: 200px;width:200px">

        </ng-template>
    </owl-carousel-o>


</div>