h2{
    text-align: center;
    font-weight: bold²;
}
.obligatoir{
    color:red;
}
label{
    font-weight: bold;
}
.action{
    margin-top: 5px;
}
.btn-link{
    width: 130px;
    border: 1px solid blue;
    color: blue;
    float: right;
}
.btn-primary {
    width: 130px;
   
}
.invalidemail{
  color: red;
  font-weight: bold;
}
.form-group {
    margin-bottom: 1px;
}