<div class="row">

    <div class="col-md-4">
        <a class="navbar-brand" href=""><img src="assets/logo.png"></a>
        <br>
        <img src="assets/logo/twiter.png" alt="">
        <img src="assets/logo/linkedin.png" alt="">
        <img src="assets/logo/youtube.svg" alt="">
        <br>
        <p class="soustitre"> Abonnez à nos derniéres nouvelles</p>
       
        <div class="recherche">
            <input class="form-control" type="text" placeholder="votre email">
            <button class="btn rechercher">S'inscrire</button>
        </div>
        <br>
    </div>
    <div class="col">
        <h3>Société</h3>
        <ul>
            <li>
                Présentation
            </li>
            <li>
                Carriéres
            </li>

        </ul>
    </div>
    <div class="col">
        <h3>Rubriques</h3>
        <ul>
            <li>
                Accueil
            </li>
            <li>
                Opportunités
            </li>
            <li>
                Startups
            </li>
            <li>
                Veille
            </li>
            <li>
                News </li>
            <li>
                M&A
            </li>
        </ul>
    </div>
    <div class="col">
        <h3>Contact</h3>
        <ul>
            <li>
                 <h4>Collaboration Capital</h4>
            </li>
            <li>
              <i class="material-icons">mail</i>
               <a>assistance@collaborationcapital.org</a>
            </li>
            <li>
                <i class="material-icons">phone</i>
               +33 1 30 61 24 68
            </li>
        </ul>
    </div>



</div>