<div class="row" style="background: url('../assets/images/1.png');">

    <div class="col-md-5 col-lg-5 col-sm-12 left">
        <h1>1ère plateforme de recherche <br>de prestataires <span class="innovant">innovants</span></h1>
        <p class="sousTitre">Obtenez en moins de 3 semaines les propositions détaillées des solutions adaptées

            à votre besoin et discutez avec les entreprises pertinentes.</p>
        <div class="recherche">
            <input class="form-control" type="text" placeholder="Mot Clé">
            <button class="btn rechercher" (click)="rechercher()">Rechercher</button>
        </div>
        <div class="blocMotCle">
            <button class="motcle" (click)="rechercher()">Marketing Automation</button>
            <button class="motcle" (click)="rechercher()">Sourcing de prospects</button>
            <button class="motcle" (click)="rechercher()">CIRH</button>
            <button class="motcle" (click)="rechercher()">CRM</button>
            <button class="motcle" (click)="rechercher()">IT</button>
            <button class="motcle" (click)="rechercher()">IA</button>
            <button class="motcle" (click)="rechercher()">Supply Chain</button>
            <button class="motcle" (click)="rechercher()">Formation</button>
            <button class="motcle" (click)="rechercher()">Reporting</button>

        </div>
    </div>

</div>

<hr>

<div class="row">
    <div class="col-md-6"> <img style="width: 100%;" src="assets/images/2.png" alt=""> </div>
    <div class="col-md-6">
        <h1>Vous recherchez un outil pour un besoin de votre société ?</h1>
        <p class="sousTitre">Collaboration Capital fédère plus <span class="innovant">d’1 Million </span>
            de solutions, venant de startups et d’entreprises matures.</p>
        <ul>

            <li>

                <div class="globl">
                    <div class="iconc">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">
                            Votre recherche est partagée à notre réseau, et vous recevez des propositions adaptées à
                            votre recherche.<br>

                            <span class="innovant">Nous sommes entièrement gratuits envers les solutions répondant à
                                votre besoin. </span>
                        </p>
                    </div>
                </div>
            </li>

            <li>

                <div class="globl">
                    <div class="iconc">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">
                            Pour 720€, votre projet est diffusé à notre réseau en France et reste actif pendant 1 mois..
                        </p>
                    </div>
                </div>
            </li>


            <li>

                <div class="globl">
                    <div class="iconc">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">

                            Découvrez l’ensemble des technologies existantes, leurs réponses à votre besoin, et retenez
                            le meilleur prestataire!</p>
                    </div>
                </div>
            </li>

            <li>

                <div class="globl">
                    <div class="iconc">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">
                            Si votre recherche concerne un besoin technique ou R&D spécifique à votre activité,.
                            <span class="innovant">contactez nous </span>.
                        </p>
                    </div>
                </div>
            </li>
        </ul>



    </div>
</div>

<hr>

<div class="container">
    <h1 class="ip"> Les indicateurs de performance
    </h1>
    <br>
    <div class="row">

        <div class="col-md-4 ip">
            <img src="assets/images/1.svg" alt="">
            <p class="sousTitre">Durée moyenne d'une recherche</p>
            <h3>3 Semaines</h3>
        </div>


        <div class="col-md-4 ip">
            <img src="assets/images/2.svg" alt="">
            <p class="sousTitre">Durée moyenne d'une recherche</p>
            <h3>7 à15</h3>
        </div>


        <div class="col-md-4 ip">
            <img src="assets/images/3.svg" alt="">
            <p class="sousTitre">Durée moyenne d'une recherche</p>
            <h3>4</h3>
        </div>
    </div>
</div>



<br>




<br>
<hr>
<h1 class="ip"> Quelques témoignages clients

</h1>
<app-slider-exemple-realisation></app-slider-exemple-realisation>

<br>
<div class="container">

    <owl-carousel-o [options]="customOptions2" style="width: 80%;margin-left:10%;margin-right:10%;margin-top:50px">
        <ng-template carouselSlide>
            <div class="card">
                <div class="card-header">
                    <h1> Communication </h1>

                </div>
                <div class="card-body">
                    <p class="soustitre">

                        La publication de l'AO sur la plateforme a été utile et m'a permis de sélectionner des
                        prestataires(..)<br>
                        Merci pour votre aide et cette plateforme hyper performante

                    </p>
                    <img src=" https://www.carambarco.com/wp-content/themes/carambarco/framework/website/assets/img/logo.png"
                        alt="">
                </div>
            </div>

        </ng-template>

        <ng-template carouselSlide>

            <div class="card">
                <div class="card-header">
                    <h1> Communication </h1>

                </div>
                <div class="card-body">
                    <p class="soustitre">

                        La publication de l'AO sur la plateforme a été utile et m'a permis de sélectionner des
                        prestataires(..)<br>
                        Merci pour votre aide et cette plateforme hyper performante

                    </p>
                    <img src=" https://www.carambarco.com/wp-content/themes/carambarco/framework/website/assets/img/logo.png"
                        alt="">
                </div>
            </div>

        </ng-template>
        <ng-template carouselSlide>

            <div class="card">
                <div class="card-header">
                    <h1> Communication </h1>

                </div>
                <div class="card-body">
                    <p class="soustitre">

                        La publication de l'AO sur la plateforme a été utile et m'a permis de sélectionner des
                        prestataires(..)<br>
                        Merci pour votre aide et cette plateforme hyper performante

                    </p>
                    <img src=" https://www.carambarco.com/wp-content/themes/carambarco/framework/website/assets/img/logo.png"
                        alt="">
                </div>
            </div>

        </ng-template>
        <ng-template carouselSlide>
            <div class="card">
                <div class="card-header">
                    <h1> Communication </h1>

                </div>
                <div class="card-body">
                    <p class="soustitre">

                        La publication de l'AO sur la plateforme a été utile et m'a permis de sélectionner des
                        prestataires(..)<br>
                        Merci pour votre aide et cette plateforme hyper performante

                    </p>
                    <img src=" https://www.carambarco.com/wp-content/themes/carambarco/framework/website/assets/img/logo.png"
                        alt="">
                </div>
            </div>

        </ng-template>
    </owl-carousel-o>










</div>

<br>

<hr>
<h1 class="ip"> Quelques témoignages vidéos
</h1>
<br>

<div class="container">

    <owl-carousel-o [options]="customOptions2" style="width: 80%;margin-left:10%;margin-right:10%;margin-top:50px">
        <ng-template carouselSlide>

            <iframe width="100%" height="353" src="https://www.youtube.com/embed/dkNZE1UFkUg" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </ng-template>

        <ng-template carouselSlide>

            <iframe width="100%" height="353" src="https://www.youtube.com/embed/-JdEFwNlAYc" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe><br>

        </ng-template>
        <ng-template carouselSlide>

            <iframe width="100%" height="353" src="https://www.youtube.com/embed/WKHXNGgJXBU" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe><br>

        </ng-template>
        <ng-template carouselSlide>

            <iframe width="100%" height="353" src="https://www.youtube.com/embed/39iDxpyTH-U" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </ng-template>
    </owl-carousel-o>










</div>

<br>
<hr>
<h1 class="ip"> Quelques références
</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/logo/1.jpg" class="logos">
        </div>
        <div class="col">
            <img src="assets/logo/2.jpg" class="logos">
        </div>
        <div class="col">
            <img src="assets/logo/3.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/4.jpg" class="logos">
        </div>
        <div class="col">
            <img src="assets/logo/5.jpg" class="logos">
        </div>
        <div class="col">
            <img src="assets/logo/6.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/7.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/8.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/9.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/10.jpg" class="logos">
        </div>


        <div class="col ">
            <img src="assets/logo/11.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/12.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/13.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/14.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/15.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/16.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/17.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/18.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/19.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/20.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/21.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/22.jpg" class="logos">
        </div>
        <div class="col ">
            <img src="assets/logo/23.jpg" alt="" class="logos">
        </div>
        <div class="col ">
            <img src="./assets/logo/24.jpg" class="logos" alt="">
        </div>
    </div>
</div>


<br><br>
<app-footer></app-footer>